@{
    ViewData["Title"] = "Home Page";
}
@model BookListViewModel
<h1>BookStore</h1>

@* This is to iterate through the books and list them out *@
@foreach (Book b in Model.Books)
{
    <partial name="BookstoreSummary" model="b"/>
}
<div page-model="@Model.PaginationInfo" page-action="Index"
page-classes-enabled="true" page-class="btn" page-class-normal="btn-outline-dark" page-class-selected="btn-primary"></div>



